.dark {
  background-color: #202c36;
  // --primary-2: #2b3844;
  color: #ffffff;
}

.light {
  background-color: #f2f2f2;
  // --primary-2: #2b3844;
  color: #111517;
}

.theme-transition {
  transition: all 0.2s ease-in-out;
}
